<%- include('partials/header') %>

<h1 class="mb-0"><%= title %></h1>
<div class="mt-0 mb-4">
  <span class="badge bg-info"><%= author %></span>
  <span class="badge bg-secondary"><%= date %></span>
</div>
<p><%= content %></p>
<a href="/" class="btn btn-primary">Go Home</a>
<%- include('partials/footer') %>
